---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y - %l:%M %P" }}</span>

        <h2>{{ post.title }}</h2>

        <article class="post-content">
          {{ post.content }}
        </article>

        <p>
          <a href="{{ post.url | prepend: site.baseurl }}">Permalink</a>
          {% if post.source %}
            |
            <a href="{{ post.source }}">Source</a>
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">&lt; Earlier</a>
    {% endif %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Older &gt;</a>
    {% endif %}
  </div>
  {% endif %}

</div>
